.info-container {
    margin-left: 10%;
}

.info-content {
    width: 30%;
    padding: .5rem;

}

.info-container a {
    font-size: 1rem;
    font-weight: 500;
}



@media only screen and (max-width: 1280px) {
    .info-container {
        margin-left: 0;
    }

    .info-container a {
        font-size: 12px;
        font-weight: 700;


    }

    .info-icons {
        display: none;
    }

    .info-content {
        width: 100%;
    }
}